{{hours}}:{{minutes}}:{{seconds}}
<button class="up">+ 1 minute</button>
<button class="down">- 1 minute</button>
<button class="up-seconds">+ 1 second</button>
<button class="down-seconds">- 1 second</button>
